<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery-dateformat/src/dateFormat.js"></script>
    <script src="../node_modules/jquery-dateformat/src/jquery.dateFormat.js"></script>
    <script src="../node_modules/jquery/dist/jquery.session.js"></script>
    <script src="../myscripts/mailSend.js"></script>
</head>
<script>
    if (!sessionStorage.getItem("loginStatus"))
        window.location = "../index.html"
</script>
<body>
    <div class="form-group" style=" margin:30px 300px 0px 300px; padding:20px 50px 50px 50px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);">
        <h2 style="color: red; margin:0px 0px 20px 0px;">Send Mail to any Batch/Batches or All</h2>
        <input type="text" id="mailSub" style="margin: 0px 0px 10px 0px" class="form-control w-75" placeholder=" Enter Subject">
        <textarea style="margin: 0px 0px 10px 0px;" class="form-control" id="mailDescription" cols="30" rows="5" placeholder="Enter message"></textarea>
        <input type="text" id="mailLink" style="margin: 0px 0px 0px 0px" class="form-control w-75" placeholder="Attach Link">
        <div style="display: flex; flex-direction:row; height: 55px;">
        <select id="yearsForAdding" class="form-select" style="margin: 8px 8px 8px 0px; width:100px;">
            <option selected>Years</option>
            <option>All</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
            <option>2026</option>
            <option>2027</option>
            <option>2028</option>
        </select>
        <input type="text" id="yearSelected" class="form-control" style="margin: 8px 8px 8px 0px; width:230px;" placeholder="Years Added">
        <button id="addYearsBtn"  class="btn btn-warning m-2">Add Year</button>
        <button id="sendMailBtn"  class="btn btn-success m-2">Send Mail</button>
        <button id="backForMailSend"  class="btn btn-dark m-2">Back</button>
    </div>
    </div>
</body>
</html>